.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    z-index: 1000;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }
    &__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    &__title {
        font-size: $font-size-lg;
        align-self: center;
    }
    &__close {
        cursor: pointer;
        font-size: $font-size-lg;
        background-color: transparent;
        border: 0;
    }
    &__body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
    &__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
    }
    &__btn {
        margin-right: 10px;
    }
}
