.btn {
    color: #555;
    background-color: #ddd;
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
}
