.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem!important;
}