// #table {
//     font-family: Arial, Helvetica, sans-serif;
//     border-collapse: collapse;
//     width: 80%;
//     margin: 20px 20px;
// }

// #table td,
// #table th {
//     border: 1px solid #ddd;
//     padding: 8px;
// }

// // #table tr:nth-child(even) {
// //     background-color: #f2f2f2;
// // }

// // #table tr:hover {
// //     background-color: #ddd;
// // }

// #table th {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     color: black;
// }

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

.mt-5 {
    margin-top: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}