.btn {
    color: #555;
    background-color: #ddd;
    border: 0px;
    border-radius: 5px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
    &--size {
        font-size: medium;
    }
    &--img {
        display: flex;
    }
    &__img {
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
    }
}
