// .planetArmy {
//     border: 1px solid;
//     margin: 5% 10%;
//     font-family: $font-planet-army;
//     //background-color: $color-bg-components;
//     background-color: rgb(36 50 101 / 51%);
//     &__title {
//         text-transform: uppercase;
//         color: $color-font;
//     }
//     &__form {
//         margin: 2% 10%;
//         padding-bottom: 50px;
//     }
// }
.form {
    font-size: $font-size-sm;
    &__el {
        padding-bottom: 25px;
    }
    &__input {
        padding: 5px;
        font-size: $font-size-sm;
        border-radius: 0.5rem;
    }
    &__label {
        padding-bottom: 10px;
    }
    &__submit {
        margin-top: 10px;
        font-size: $font-size-sm;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}