.sidebar {
    width: 310px;
    min-width: 310px;
    height: 100vh;
    background-color: $sidebar-bg-color;
    padding: 10px;

    &__buttons {
        margin-top: 10px;
    }

    &__btn-space {
        margin-bottom: 1em;
        gap: .7em;
    }
}

.scene {
    &__list {
        margin-top: 10px;
    }

    &__panel {
        margin-bottom: 10px;
    }
}
