.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #eeeeee;
    padding: 10px;

    &__buttons {
        margin-top: 10px;
    }
}

.scene {
    &__list {
        margin-top: 10px;
    }

    &__panel {
        margin-bottom: 10px;
    }
}
