* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  margin: 0;
}

.container-app {
  min-width: 360px;
  margin: 0 auto;
}

.container-component {
  padding: 1em;
}

.center {
  @apply flex items-center justify-center;
}

.properties {
  @apply bg-gray-600 text-white w-full p-1 rounded mb-2;
}