:root {
  --font-app: Arial, Helvetica, sans-serif;

  --color-base-light-app: #9ca3af; /* gray-400 */
  --color-text-light: #191e2a;

  /* --color-base-app: #24292e; */
  /* --color-base-app: #1e293a; */
  /* --color-base-app: #a8a29e; */

  --color-base-app: #191e2a;
  /* --color-base-app: #a1a1aa; */
  --color-text: #e2e1ea;

  --color-bg-canvas: #f0f0f0;
  --color-bg-button: #4f556d;

  --color-bg-card-1: #c98a6b;
  --color-bg-card-2: #e2cb8a;
  --color-bg-card-3: #879295;
  --color-bg-card-4: #b8c5c1;
  --color-bg-card-5: #e2ddd5;
  --color-bg-card-6: #a4847d;
}
