:root {
  --font-app: Arial, Helvetica, sans-serif;

  /* --color-base-app: #24292e; */
  /* --color-base-app: #1e293a; */
  /* --color-base-app: #a8a29e; */

  --color-base-app: #191E2A;
  /* --color-base-app: #a1a1aa; */
  --color-text: #E2E1EA;
}
