.comments {
    right: 0;
    width: 310px;
    min-width: 310px;
    height: 100vh;
    background-color: $sidebar-bg-color;
    padding: 10px;
    position: sticky;
    &__text {
        margin-top: 10px;
        textarea {
            resize: none;
            font-family: $font-app;
            font-size: $font-size-base;
            width: 100%;
            margin-top: 5px;
            padding: 5px;
            box-sizing: border-box;
        }
    }
    &__btn {
        margin-top: 10px;
    }
    &__panel {
        margin-top: 10px;
    }
}